#main-banner{
    background-image: url('../../img/hero.jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 300px;

    .banner-text{
        font-size: 20px;
        margin-left: 20px;
        margin-top: 20px;
        font-weight: bold;
    }

    @media only screen and (max-width: 768px) {
        .banner-text{
            font-size: 32px;
            margin-left: 0;
        }
    }

    #banner-block {
        margin-top: 20px;
        background-color: white ;
        padding-top: 10px;
        padding-bottom: 10px;

        .banner-block-main-text{
            font-size: 16px;
            font-weight: bold;
        }

        .banner-block-secondary-text {
            font-size: 12px;
        }
    }
}

#benefits, #payment-methods, #control, #steps, #testimonials, #pricing {
    .container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

#benefits {
    background-color: global-color('middle-gray');

    .benefit{

        p {
            padding-top: 15px;
            padding-bottom: 15px;
            background-color: white;
            width: 100%;
        }

    }

    .benefits-header {
        font-size: 20px;
        font-weight: bold;
    }

    #regulated {
        margin-top: -65px;
        margin-left: 10px;
    }

}

#payment-methods {

    .payment-methods-header{
        font-size: 35px;
    }

}

 #control{
    background-color: global-color('middle-gray');

    .control-header{
        font-size: 16px;
        font-weight: bold;
    }

    @media only screen and (max-width: 768px) {
        .control-header {
            font-size: 24px;
        }
    }
 }

 #devices{
    background-color: global-color('devices-gray');
    background-image: url('../../img/devices.jpg');
    background-size: 500px;
    background-repeat:   no-repeat;
    background-position: center center;
    height: 250px;

    @media only screen and (max-width: 768px) {
        height: 290px;
    }

    .payment-methods-header{
        font-size: 23px;
        margin-bottom: 15px;
    }

    .container {
        padding-top: 30px;
        padding-bottom: 40px;
    }
 }

 #steps {
    display: table;
    width: 100%;
    position: relative;
    background-color: global-color('middle-gray');

    .steps-header{
        font-size: 16px;
        font-weight: bold;
    }

    .steps-row {
        position: relative;

        &:before {
            top: 24px;
            position: absolute;
            content: " ";
            width: 100%;
            height: 1px;
            background-color: #ccc;
        }
    }

    .step {
        display: table-cell;
        text-align: center;
        position: relative;

        p {
            margin-top: 10px;
        }

        &.active {
            p {
                color: global-color('btn-circle');
            }
        }

        .btn-circle {
            width: 50px;
            height: 50px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 50%;
            color: global-color('btn-circle');
            border-color: global-color('btn-circle');
        }
    }

}

#testimonials{
    background-color: global-color('testimonials-background');

    .image-holder{
        width: 150px;
        height: 150px;
        position: relative;
        overflow: hidden;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    img{
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
    }

    p.testimonial {
        margin-bottom: 10px;
    }

    p.signature {
        font-style: italic;
    }
}

#pricing {
    .pricing-header {
        font-size: 16px;
        font-weight: bold;
    }

    .price {
        padding: 0;
        padding-right: 15px;

        .note {
            font-size: 10px;
            margin-top: 7px;
        }
    }

    .values{
        padding-top: 30px;
        padding-bottom: 55px;
        background-color: global-color('pricing-background');

        .number {
            font-size: 70px;
        }

        .text {
            font-size: 15px;
            margin-top: -15px;
        }
    }
}

footer {
    p {
        font-size: 40px;
    }

    @media only screen and (max-width: 768px) {
        p {
            font-size: 30px;
        }
    }

}

.bottom-element{
    height: 30px;
    width: 100%;
    margin-top: 30px;
    background-color: global-color('middle-gray');
}
