.top-bar{
    background-color: global-color('top-bar');
    margin-bottom: 0;
    border: 0;
    border-radius: 0;

    #logo-big{
        width: 150px;
        position: absolute;
        margin-top: 5px;
    }

    #logo-small {
        margin: 0 auto;
        width: 120px;
        padding-bottom: 5px;
    }

}
